<mat-card>Ingresar datos del alumno</mat-card>


<form class="example-container" [formGroup]="form"  >

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Id" required formControlName="idAlumno">
        </mat-form-field>
    </div>
    

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Carnét" required formControlName="carnet">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Nombres" required formControlName="nombres">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Apellidos" required formControlName="apellidos">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Correo" required formControlName="correo">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Telefono" required formControlName="telefono">
    </mat-form-field>

    <button mat-raised-button color="primary"
            type="submit">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" 
            [routerLink]="['/alumnos']" 
            routerLinkActive="router-link-active" 
            type="button">
        <mat-icon>close</mat-icon>
        <span>Cerrar</span>
    </button>
</form>