<mat-toolbar>
    <span>Alumnos</span>
</mat-toolbar>

<router-outlet></router-outlet>



<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar alumno">
</mat-form-field>

<div class="mat-elevation-z8">

 

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <!-- Position Column -->
      <ng-container matColumnDef="idAlumno" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.idAlumno}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="carnet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Carné </th>
        <td mat-cell *matCellDef="let element"> {{element.carnet}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
        <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
      </ng-container>

       <!-- Symbol Column -->
       <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

       <!-- Symbol Column -->
       <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
      </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="acciones" style="align-items: center;">
            <th mat-header-cell *matHeaderCellDef > Acciones </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-icon-button 
                      aria-label="Example icon button with a vertical three dot icon"
                      (click)="openDialog(element)">
                  <mat-icon><span class="material-icons">mode_edit</span></mat-icon>
              </button>
              <button mat-icon-button 
                      aria-label="Example icon button with a vertical three dot icon"
                      (click)="eliminar(element.idAlumno)">
                  <mat-icon><span class="material-icons">delete</span></mat-icon>
              </button>
              
            
            </td>
        </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
  <div class="example-button-container">
    <button mat-fab color="accent" 
        style="float: right;"
        aria-label="Example icon button with a bookmark icon"
        (click)="openDialog()" >
      <mat-icon>edit</mat-icon>
    </button>
  </div>