<div class="example-container">

    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
    
        <h1 class="example-app-name">ASISTENCIA</h1>
    
        <span class="example-spacer"></span>
    
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
    
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/perfil">
            <mat-icon>account_box</mat-icon>
            <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="sidenav.opened = false">
            <mat-icon>exit_to_app</mat-icon>
            <span>Cerrar Sesión</span>
          </button>
        </mat-menu>
      </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px">
        
            <img src="assets/logouspg.png" width="128" style="margin-left: 20px">
        
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/buscar" style="cursor: pointer">
                <mat-icon>search</mat-icon>
                <span>Buscar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/facultad" style="cursor: pointer">
                <mat-icon>location_city</mat-icon>
                <span>Facultad</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/carrera" style="cursor: pointer">
                <mat-icon>school</mat-icon>
                <span>Carrera</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/curso" style="cursor: pointer">
                <mat-icon>class</mat-icon>
                <span>Curso</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/alumnos" style="cursor: pointer">
                <mat-icon>groups</mat-icon>
                <span>Alumno</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/catedratico" style="cursor: pointer">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>Catedrático</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/curso-catedratico" style="cursor: pointer">
                <mat-icon>date_range</mat-icon>
                <span>Curso Catedrático</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/token" style="cursor: pointer">
                <mat-icon>generating_tokens</mat-icon>
                <span>Token</span>
            </button>
           

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>

